p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

/*This is the stylesheet for the homepage*/

html * {
  font-family: sans-serif;
}

h1 {
  color: black
  font-family: sans-serif;
  font-size: 30pt;
  text-align: center;
}
h2 {
  font-size: 25pt;
  text-align: center;
}
h3 {
  font-size: 18pt;
  text-align: center;
  text-decoration: underline;
}

.video {
  float: right;
  padding-right: 20px;
}

.text {
  float: left;
  padding-left: 20px;
}
